
 /* ======= media 1200 =======  */
 @media (max-width: 1200px) {
   .features-right-bl__item-text {
      margin: 0 40px 0 30px;
   }
}
 /* ======= media 1140 =======  */
 @media (max-width: 1140px) {
   .features-block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}


 /* ======= media 1090 =======  */
@media (max-width: 1090px) {

   .offer-block__left h1 {
    font-size: 50px;
    line-height: 70px;
   }
}
 /* ======= media 950 =======  */
@media (max-width: 950px) {

   .nav {
      margin: 20px 0 30px;
   }
   .offer-block__left {
      padding: 121px 0 0 0;
   }
.offer-block__left h1 {
   font-size: 48px;
   line-height: 65px;
   }
}
 /* ======= media 880 =======  */
@media (max-width: 880px) {

   .offer-block__left h1 {
      font-size: 40px;
      line-height: 54px;
   }
   .offer-btn .btn {
      padding: 12px 40px;
      display: block;
      text-align: center;
   }
}
 /* ======= media 786 =======  */
@media (max-width: 786px) {

   .top-menu {
      margin: 0;
   }
   .menu-btn {
      display: none;
   }
   .offer-block__left h1 {
      font-size: 34px;
      line-height: 46px;
  }
   .offer-block {
   flex-direction: column;
   }
   .offer-block__left {
      width: 100%;
  }
  .offer-block__right {
     display: none;
  }

}
 /* ======= media 666 =======  */
 @media (max-width: 666px) {
   .features-left img {
      width: 280px;
   }
 }
 /* ======= media 610 =======  */
 @media (max-width: 610px) {
    .nav {
       display: block;
    }
   .top-menu {
       display: block;
       padding-top: 10px;
   }
   .top-menu__item {
      margin: 0;
   }
   .offer-block__left {
      padding: 10px 0 0 0;
   }
   .company h3 {
      padding: 65px 0 40px;
   }
}
  /* ======= media 520 =======  */
  @media (max-width: 520px) {
   .features-right {
      margin: 35px 0px 0 0px;
  }
   .features-right-bl__item-text {
      margin: 0 0px 0 30px;
  }
}

  /* ======= media 450 =======  */
  @media (max-width: 450px) {
   .features-right {
      margin: 35px 0px 0 0px;
      text-align: center;
  }
   .features-right-bl__item {
      display: block;
      margin-bottom: 60px;
   }
   .features-right-bl__item-text {
      margin: 0;
  }
}
  /* ======= media 400 =======  */
  @media (max-width: 400px) {
   .header {
      height: 840px;
   }
   .offer-block-tit h3 {
      font-size: 14px;
   }
   .offer-block__left h1 {
      font-size: 32px;
      line-height: 44px;
   }
   .offer-block__left p {
      font-size: 16px;
      line-height: 25px;
      margin: 22px 0 43px;
  }
}