
 /* ======= media 1200 =======  */
 @media (max-width: 1200px) {
   .header {
      height: 970px;
  }
   .features-right-bl__item-text {
      margin: 0 40px 0 30px;
   }
   /* ========  jackpot  ======== */
   .jackpot-top__left {
      padding: 0 3%;
   }
   .jackpot-top__right {
      padding: 0 3%;
   }
}
 /* ======= media 1140 =======  */
 @media (max-width: 1140px) {
   .features-block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}


 /* ======= media 1090 =======  */
@media (max-width: 1090px) {

   .offer-block__left h1 {
      font-size: 50px;
      line-height: 70px;
   }
   /* ========  jackpot  ======== */
   .jackpot-top {
      display: block;
  }
   .jackpot-top__left {
      border: none;
      padding: 0 35px 35px;
   }
   .jackpot-top__right {
      padding: 0 35px;
   }
   /* ========  designed  ======== */
   .designed-block {
      display: block;
   }
   .designed-block__img {
      width: 620px;
      margin: 0 auto;
  }
   .designed-block__text {
      width: 425px;
      padding: 90px 0 0 110px;
  }
}
 /* ======= media 950 =======  */
@media (max-width: 950px) {

   .nav {
      margin: 20px 0 30px;
   }
   .offer-block__left {
      padding: 121px 0 0 0;
   }
   .offer-block__left h1 {
      font-size: 48px;
      line-height: 65px;
   }
   /* ========  jackpot  ======== */
   .jackpot-top__left {
      width: 85%;
      color: #242f51;
   }
   .jackpot-top__right {
      width: 85%;
   }
   /* ========== app ========== */
   .app-title h2 {
      margin: 138px 0 0;
  }
}
 /* ======= media 880 =======  */
@media (max-width: 880px) {

   .offer-block__left h1 {
      font-size: 40px;
      line-height: 54px;
   }
   .offer-btn .btn {
      padding: 12px 40px;
      display: block;
      text-align: center;
   }
   /* ========  jackpot  ======== */
   .jackpot-top {
      margin: 60px 0 10px;
   }
}
 /* ======= media 786 =======  */
@media (max-width: 786px) {
   .header {
      height: 860px;
   }
   .top-menu {
      margin: 0;
   }
   .menu-btn {
      display: none;
   }
   .offer-block__left h1 {
      font-size: 34px;
      line-height: 46px;
   }
   .offer-block {
   flex-direction: column;
   }
   .offer-block__left {
      width: 100%;
   }
  .offer-block__right {
     display: none;
   }
    /* ========  designed  ======== */
    .designed-block__img {
      width: 420px;
   }
      /* ========== app ========== */
      .app-title h2 {
         margin: 115px 0 0;
     }
   .app-title p span {
      display: initial;
   }
}
 /* ======= media 666 =======  */
 @media (max-width: 666px) {
   .features-left img {
      width: 280px;
   }
   /* ========  jackpot  ======== */
   .jackpot-block {
      justify-content: left;
      margin: 60px 0 50px 35px;
   }
   /* ========  designed  ======== */
   .designed-block__text {
      width: 425px;
      padding: 60px 0 0 35px;
  }
 }
 /* ======= media 610 =======  */
 @media (max-width: 610px) {
   .header {
      height: 930px;
  }
    .nav {
       display: block;
    }
   .top-menu {
       display: block;
       padding-top: 10px;
   }
   .top-menu__item {
      margin: 0;
   }
   .offer-block__left {
      padding: 10px 0 0 0;
   }
   .company h3 {
      padding: 40px 0 40px;
   }
   .company-img {
      margin-bottom: 30px;
   }
   /* ========  jackpot  ======== */
   .jackpot-top__left {
      width: 100%;
      padding: 0 0px 35px;
   }
   .jackpot-top__right {
      width: 100%;
      padding: 0 0px 35px;
   }
   /* ========  designed  ======== */
   .designed-block__img {
       width: 320px;
   }
   /* ========== app ========== */
   /* .app-title h2 span {
       display: initial;
   } */
}
  /* ======= media 520 =======  */
  @media (max-width: 520px) {
   .features-right {
      margin: 35px 0px 0 0px;
   }
   .features-right-bl__item-text {
      margin: 0 0px 0 30px;
   }

   /* ========  jackpot  ======== */
   .jackpot-top {
      text-align: center;
  }
   .jackpot-top__left {
      font-size: 34px;
      line-height: 44px;
   }
   /* ========  designed  ======== */
   .designed-block {
      margin: 50px 0 10px;
   }
   .designed-block__text {
      width: 320px;
      padding: 60px 0 0 35px;
   }
   /* ========== app ========== */
   .app-title h2 {
      font-size: 30px;
      line-height: 40px;
    margin: 95px 0 0;
   }
}

  /* ======= media 450 =======  */
  @media (max-width: 450px) {
   .features-right {
      margin: 35px 0px 0 0px;
      text-align: center;
  }
   .features-right-bl__item {
      display: block;
      margin-bottom: 60px;
   }
   .features-right-bl__item-text {
      margin: 0;
   }
   /* ========  jackpot  ======== */
   .jackpot-top {
      margin: 0px 0 10px;
  }
   .jackpot-top__left {
      font-size: 26px;
      line-height: 36px;
   }
   .jackpot-block {
      justify-content: center;
      margin: 10px 0 50px 0px;
      text-align: center;
   }
   /* ========  designed  ======== */
   .designed-block {
      text-align: center;
   }
   .designed-block__img {
      width: 250px;
  }
   .designed-block__text {
      width: 100%;
      padding: 60px 0 0 0px;
  }
   .designed-block__text h3 {
      font-size: 26px;
      line-height: 36px;
   }
   /* ========== app ========== */
   .app-title h2 {
      font-size: 27px;
      line-height: 35px;
      margin: 74px 0 0;
   }
   .app-block__item {
      width: 300px;
      text-align: center;
      margin: 10px 0px 32px;
   }
   .app-block {
      margin: 35px 0px 0;
   }
}
  /* ======= media 400 =======  */
  @media (max-width: 400px) {
   .header {
      height: 865px;
   }
   .offer-block-tit h3 {
      font-size: 14px;
   }
   .offer-block__left h1 {
      font-size: 32px;
      line-height: 44px;
   }
   .offer-block__left p {
      font-size: 16px;
      line-height: 25px;
      margin: 22px 0 43px;
   }
   /* ========== app ========== */
   .app-title h2 {
      font-size: 27px;
      line-height: 35px;
   }
   .app-title h2 span {
      display: initial;
   }
}