
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   color: #242f51;
}
h1, h2, h3, h4, h5, h6 {
   margin: 0;
}
a {
   text-decoration: none;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}
.header {
   background: url(../img/offer/fon.jpg) 0 0 / cover no-repeat;
   height: 1030px;
}
.logo img {
   display: block;
   margin-top: 7px;
}
.nav {
   margin: 80px 0 75px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0 20px;
   /* border: #f97800 solid 1px; */
}
.menu {
   display: flex;
}
.top-menu {
   list-style: none;
   display: flex;
   margin: 0 57px 0 0;
   padding: 0;
}
.top-menu__item {
   margin: 0 22px;
   font-family: 'Poppins';
   font-size: 16px;
   line-height: 44px;
   font-weight: 400;
   color: #242f51;
}
.top-menu__item a {
   font-family: 'Poppins';
   font-size: 16px;
   line-height: 44px;
   font-weight: 600;
   color: #242f51;
   transition: all .5s;
}
.top-menu__item a:hover {
   color: #5c41f5;
}
.menu-btn {
   width: 175px;
}
.btn {
   padding: 16px 40px;
   font-size: 16px;
   line-height: 44px;
   font-weight: 600;
   color: #fff;
   background-color: #2500f9;
   border-radius: 28.5px;
   transition: all .5s;
}
.btn:hover {
   color: #fff;
   background-color: #4b2ef5;
}

/* ===== */
/*  */

.offer-block {
   display: flex;
   justify-content: space-evenly;
}
.offer-block-tit-img {
   display: flex;
   /* border: #f97800 solid 1px; */
   background: #e2eaed;
   align-items: center;
   border-radius: 25px;
   max-width: 365px;
   margin-bottom: 28px;
}
.offer-block-tit {
   align-items: center;
   margin-left: 10px;
}
.offer-block-tit h3 {
   font-size: 18px;
   font-weight: 500;
   color: #242f51;
}
.offer-block-img {
   align-items: center;
}
.offer-block-img img {
   display: block;
   align-items: center;
}

/*  */
.offer-block__left {
   padding: 180px 0 0 0;
   width: 50%;
}
.offer-block__left h1 {
   font-size: 60px;
   line-height: 75px;
   color: #242f51;
}
.offer-block__left p {
   font-size: 18px;
   line-height: 28px;
   color: #242f51;
   margin: 43px 0 43px;
}

/*  */
.offer-block__right {
   width: 380px;
}
.offer-block__right img {
   max-width: 100%;
}
/* btn */
.btn-x {
   background: none;
   color: #2500f9;
}
.btn-x:hover {
   background: none;
   color: #5c41f5;
}

 /* ====== company ====== */

.company h3 {
   font-size: 16px;
   line-height: 28px;
   font-weight: 400;
   padding: 115px 0 40px;
   text-align: center;
}
.company-img {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-bottom: 114px;
}
.company-img__item {
   width: 140px;
   margin: 0 30px 40px;
   align-items: center;
   align-self: center;
}
.company-img img {
   display: block;
   max-width: 100%;
   align-items: center;
}

/* ====== features ====== */
.features-block {
   display: flex;
}

.features-right {
   margin: 15px 35px 0 35px;
}
.features-right__text h2 {
   font-size: 36px ;
   line-height: 46px;
   color: #242f51;
   margin-bottom: 14px;
}
.features-right__text h2 span {
   display: block;
   font-size: 36px;
   line-height: 46px;
   color: #242f51;
}
.features-right__text p {
   font-style: 16px;
   line-height: 26px;
   color: #616368;
   margin: 0px 0 61px 0;
}
.features-right-bl__item {
   display: flex;
   /* border:1px solid #ee6a12; */
   margin-bottom: 30px;
}
.features-right-bl__item:nth-child(2) .features-right-bl__item-text h3{
   color: #2563ff;
}
.features-right-bl__item:nth-child(3) .features-right-bl__item-text h3{
   color: #40975f;
}
.features-right-bl__item-img {
   align-self: flex-end;
}
.features-right-bl__item-text {
   margin: 0 100px 0 30px;
}
.features-right-bl__item-text h3 {
   font-size: 20px;
   color: #f55767;
   margin: 19px 0 10px ;
}
.features-right-bl__item-text p {
   font-size: 16px;
   line-height: 26px;
   color: #616368;
   margin: 0;
}

/* ========  jackpot  ======== */
.jackpot-top {
   display: flex;
   margin: 86px 0 10px;
}
.jackpot-top__left {
   width: 50%;
   font-size: 40px;
   font-weight: 600;
   line-height: 50px;
   border-right: 1px solid #b9b9b8;
   padding: 0 6%;
   color: #242f51;
}
.jackpot-top__right {
   align-self: center;
   width: 50%;
   font-size: 16px;
   line-height: 26px;
   padding: 0 6%;
   color: #616368;
}
.jackpot-block {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 110px 0 50px;
}
.jackpot-block__item {
   width: 280px;
   margin: 0 15px 30px;
}


.jackpot-block__item-text h3 {
   font-size: 20px;
   padding: 24px 0 0px;
}
.jackpot-block__item:nth-child(1) .jackpot-block__item-text h3 {
   color: #f55767;
}
.jackpot-block__item:nth-child(2) .jackpot-block__item-text h3 {
   color: #2563ff;
}
.jackpot-block__item:nth-child(3) .jackpot-block__item-text h3 {
   color: #40975f;
}
.jackpot-block__item-text p {
   margin: 0;
   padding: 10px 0 0;
   color: #616368;
}

/* ========  designed  ======== */
.designed-block {
   display: flex;
   margin: 87px 0 10px;
}

.designed-block__img {
   width: 620px;
}
.designed-block__img img {
   max-width: 100%;
}

.designed-block__text {
   width: 425px;
   padding: 136px 0 0 110px;
}
.designed-block__text h3 {
   font-size: 36px;
   line-height: 46px;
   color: #242f51;
}
.designed-block__text p {
   font-size: 16px;
   line-height: 26px;
   color: #616368;
   margin: 24px 0 42px;
}

/* ====== app ===== */
.app-title {
   text-align: center;
   padding: 0 15px;
}
.app-title h2 {
   font-size: 36px;
   line-height: 46px;
   color: #242f51;
   font-weight: 600;
   margin: 198px 0 0;
}
.app-title h2 span {
   display: block;
}
.app-title p {
   font-size: 16px;
   line-height: 26px;
   color: #616368;
   font-weight: 400;
   margin: 32px 0 0;
}
.app-title p span {
   display: block;
}
.app-block {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 78px 0px 0;
}
.app-block__item {
   width: 300px;
   text-align: center;
   margin: 10px 15px 60px;
}
.app-block__item-text h3 {
   margin: 22px 0 0;
}
.app-block__item-text p {
   margin: 9px 0 0;
}

/* ====== ultimate ====== */
.ultimate-container {
   max-width: 1200px;
   margin: 0 auto ;
}
.ultimate-block {
   display: flex;
   justify-content: space-between;
}
.ultimate-block-left__top h2 {
   font-size: 36px;
   line-height: 46px;
   color: #242f51;
   margin: 122px 0 0;
}

.ultimate-block-left__top p {
   font-size: 16px;
   line-height: 26px;
   color: #616368;
}

.ultimate-block-left-block {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 670px;
   margin: 56px 0 0px;
}
.ultimate-block-left-block__item {
   width: 270px;
   margin: 0 10px 57px;
}

.ultimate-block-left-block__item-text h3 {
   font-size: 20px;
   color: #242f51;
   margin: 22px 0 9px;
}
.ultimate-block-left-block__item-text p {
   font-size: 16px;
   line-height: 26px;
   color: #616368;
   margin: 0;
}

.ultimate-block-right {
    /* width: 600px; */
    align-self: flex-end;
 }
 .ultimate-block-right img {
   max-width: 100%;
}
.ultimate-btn {
   width: 200px;
}
.ultimate-btn .btn {
   padding: 16px 70px;
}

/* ====== extra ===== */
.extra-text {
   text-align: center;
   margin-top: 173px;
}
.extra-text h2 {
   font-size: 36px;
   line-height: 46px;
   color: #242f51;
}
.extra-text p {
   font-size: 16px;
   line-height: 26px;
   color: #616368;
   margin: 27px 0 10px;
}
.extra-block-btn {
   display: flex;
   justify-content: space-around;
   border: 2px solid #ebebeb;
   border-radius: 30px;
   width: 290px;
   padding: 3px 2px;
   margin: 74px auto 10px;
   cursor: pointer;
}
.extra-block-btn .btn {
   padding: 3px 34px;
}
.extra-block-btn .btn-bz {
   background: none;
   color: #616368;
   transition: all .5s;
}
.extra-block-btn .btn-bz:hover {
   color: #2500f9;
}
.extra-block-card {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 60px;
}
.extra-card {
   padding: 50px 6px 25px;
   border: 2px solid #ebebeb;
   border-radius: 8px;
   text-align: center;
   margin: 28px 3px 0;
   width: 300px;
}
.extra-card h2 {
   font-size: 60px;
   color: #242f51;
}
.extra-card h2 span {
   font-size: 18px;
   line-height: 28px;
   color: #999ca5;
}
.extra-card h3 {
   font-size: 20px;
   line-height: 28px;
   color: #242f51;
}
.extra-card h4 {
   font-size: 16px;
   line-height: 28px;
   color: #999ca5;
   font-weight: 500;
}
.extra-card-ul {
   list-style: none;
   margin: 69px 0 42px;
   padding: 0;
}
.extra-card-ul__li {
   margin-bottom: 23px;
}
.btn-bzf {
   display: block;
   background: none;
   color: #2500f9;
   transition: all .5s;
   padding: 20px 0 0;
}
.btn-bzf:hover {
   color: #5c41f5;
   background: none;
}
.extra-card .btn {
   margin-bottom: 0;
}






#Annually {
   display: none;
}

#active-extra-2 {
   display: none;
}

