
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   color: #242f51;
}
h1, h2, h3, h4, h5, h6 {
   margin: 0;
}
a {
   text-decoration: none;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}
.header {
   background: url(../img/offer/fon.jpg) 0 0 / cover no-repeat;
   height: 1030px;
}
.logo img {
   display: block;
   margin-top: 7px;
}
.nav {
   margin: 80px 0 75px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0 20px;
   /* border: #f97800 solid 1px; */
}
.menu {
   display: flex;
}
.top-menu {
   list-style: none;
   display: flex;
   margin: 0 57px 0 0;
   padding: 0;
}
.top-menu__item {
   margin: 0 22px;
   font-family: 'Poppins';
   font-size: 16px;
   line-height: 44px;
   font-weight: 400;
   color: #242f51;
}
.top-menu__item a {
   font-family: 'Poppins';
   font-size: 16px;
   line-height: 44px;
   font-weight: 600;
   color: #242f51;
}
.menu-btn {
   width: 175px;
}
.btn {
   padding: 16px 40px;
   font-size: 16px;
   line-height: 44px;
   font-weight: 700;
   color: #fff;
   background-color: #2500f9;
   border-radius: 28.5px;
}

/* ===== */
/*  */

.offer-block {
   display: flex;
   justify-content: space-evenly;
}
.offer-block-tit-img {
   display: flex;
   /* border: #f97800 solid 1px; */
   background: #e2eaed;
   align-items: center;
   border-radius: 25px;
   max-width: 365px;
   margin-bottom: 28px;
}
.offer-block-tit {
   align-items: center;
   margin-left: 10px;
}
.offer-block-tit h3 {
   font-size: 18px;
   font-weight: 500;
   color: #242f51;
}
.offer-block-img {
   align-items: center;
}
.offer-block-img img {
   display: block;
   align-items: center;
}

/*  */
.offer-block__left {
   padding: 180px 0 0 0;
   width: 50%;
}
.offer-block__left h1 {
   font-size: 60px;
   line-height: 75px;
   color: #242f51;
}
.offer-block__left p {
   font-size: 18px;
   line-height: 28px;
   color: #242f51;
   margin: 43px 0 43px;
}

/*  */
.offer-block__right {
   width: 380px;
}
.offer-block__right img {
   max-width: 100%;
}
/* btn */
.btn-x {
   background: none;
   color: #2500f9;
}

 /* ====== company ====== */

.company h3 {
   font-size: 16px;
   line-height: 28px;
   font-weight: 400;
   padding: 115px 0 40px;
   text-align: center;
}
.company-img {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-bottom: 114px;
}
.company-img__item {
   width: 140px;
   margin: 0 30px 40px;
   align-items: center;
   align-self: center;
}
.company-img img {
   display: block;
   max-width: 100%;
   align-items: center;
}

/* ====== features ====== */
.features-block {
   display: flex;
}

.features-right {
   margin: 15px 35px 0 35px;
}
.features-right__text h2 {
   font-size: 36px ;
   line-height: 46px;
   color: #242f51;
   margin-bottom: 14px;
}
.features-right__text h2 span {
   display: block;
   font-size: 36px;
   line-height: 46px;
   color: #242f51;
}
.features-right__text p {
   font-style: 16px;
   line-height: 26px;
   color: #616368;
   margin: 0px 0 61px 0;
}
.features-right-bl__item {
   display: flex;
   /* border:1px solid #ee6a12; */
   margin-bottom: 30px;
}
.features-right-bl__item:nth-child(2) .features-right-bl__item-text h3{
   color: #2563ff;
}
.features-right-bl__item:nth-child(3) .features-right-bl__item-text h3{
   color: #40975f;
}
.features-right-bl__item-img {
   align-self: flex-end;
}
.features-right-bl__item-text {
   margin: 0 100px 0 30px;
}
.features-right-bl__item-text h3 {
   font-size: 20px;
   color: #f55767;
   margin: 19px 0 10px ;
}
.features-right-bl__item-text p {
   font-size: 16px;
   line-height: 26px;
   color: #616368;
   margin: 0;
}

/* ========  jackpot  ======== */
.jackpot-top {
   display: flex;
   margin: 92px 0 10px;
}
.jackpot-top__left {
   width: 50%;
   font-size: 40px;
   font-weight: 600;
   line-height: 50px;
   border-right: 1px solid #b9b9b8;
   padding: 0 6%;
   color: #242f51;
}
.jackpot-top__right {
   align-self: center;
   width: 50%;
   font-size: 16px;
   line-height: 26px;
   padding: 0 6%;
   color: #616368;
}
.jackpot-block {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 110px 0 50px;
}
.jackpot-block__item {
   width: 280px;
   margin: 0 15px 30px;
}


.jackpot-block__item-text h3 {
   padding: 24px 0 0px;
}
.jackpot-block__item:nth-child(1) .jackpot-block__item-text h3 {
   color: #f55767;
}
.jackpot-block__item:nth-child(2) .jackpot-block__item-text h3 {
   color: #2563ff;
}
.jackpot-block__item:nth-child(3) .jackpot-block__item-text h3{
   color: #40975f;
}
.jackpot-block__item-text p {
   margin: 0;
   padding: 10px 0 0;
   color: #616368;
}